

<a href="/new_client">New Client</a>

<a href="/new_stock">New Stock</a>

<div>
  <ul>
    <li>
      This will be a list of all our clients names and their respective portfolios
    </li>
  </ul>
</div>

